[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
flake8 = "*"

[packages]
requests = "*"
prometheus_client = "*"

[requires]
python_version = "3.7"
